<article class="pagePrincip small-f-12 medium-f-12 large-f-12 whiteSpace">
{% for annonce in annonces %}
	
	
	<div class="containerAnn large-ib-3 medium-ib-6 offset-sm-ib-1 small-ib-10">
		<a href="annonce{{annonce.id}}">
			<h3>{{annonce.titre|capitalize }}</h3>
			<div class="blocImage">
				<span><img src="{{annonce.images[0].imageChemin}}"/></span>
			</div>
			<span><img src="img/pos_ico.png">{{annonce.quartier.nomQuartier}}, {{villes[annonce.quartier.ville_id-1].nomVille}}</span>
		</a>
	</div>
	

{% endfor %}
</article>

