﻿<div class="pagePrincip large-f-12 medium-f-12 small-f-12">

  <h2> Ajout d'une annonce </h2>

  <form enctype="multipart/form-data" id="ajout" method="post" action="notifDepot" class="form whiteSpace clearfix">

    <div class="small-ib-12 medium-ib-12 large-f-6">
     
     <h3>L'annonce</h3>
     
      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Titre : </label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="text" name="titre" placeholder="Titre ..">
      </div>

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Contenu : </label>
        <textarea  class="small-ib-12 medium-ib-8 large-ib-8" name="contenu" rows="10" placeholder="Texte de l'annonce .."></textarea>
      </div>


       <div class="row whiteSpace">
          <label class="small-ib-12 medium-ib-4 large-ib-4">Image : </label>
          <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />

          <input class="small-ib-12  offset-md-ib-4 medium-ib-8 large-ib-8 offset-lg-ib-4" type="file" name="fic1"  />

          <input class="small-ib-12  offset-md-ib-4 medium-ib-8  large-ib-8 offset-lg-ib-4" type="file" name="fic2"  />

          <input class="small-ib-12 offset-md-ib-4  medium-ib-8 large-ib-8  offset-lg-ib-4" type="file" name="fic3"  />
        </div>


      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Type d'annonce : </label>
        
          <select  class="small-ib-12 medium-ib-8 large-ib-8" name="id_typeA" size="1">
            <option value="0">«Location ou vente ?»</option>
              {% for typeA in typeAnn %}
              <option value="{{typeA.id}}"> {{ typeA.nomTypeAnn }}</option>
              {% endfor %}
            </select>
       
      </div>
   
      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Type de bien : </label> 
        <select  class="small-ib-12 medium-ib-8 large-ib-8" name="id_typeB">
        <option value="0">«Quels types de bien ?»</option>
          {% for typeB in typeBien %}
            <option value="{{typeB.id}}">{{typeB.nomTypeBien}}</option>
          {% endfor %}
        </select>
      </div>
    

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Prix : </label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="number" name="prix">
      </div>



      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Quartier : </label>
        <select  class="small-ib-12 medium-ib-8 large-ib-8" name="id_quart">
          <option value="0">«Choississez un quartier»</option>
          {% for quartier in quartiers %}
            <option value="{{quartier.id}}">{{quartier.nomQuartier}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="small-ib-12 medium-ib-12 large-f-6">

      <h3>Caractéristique</h3>

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Loyer : </label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="number" name="loyer">
      </div>

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Nombres de pièces : </label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="number" name="nbPieces">
      </div>

       <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Superficie : </label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="number" name="superficie">
      </div>

    </div>

   <div class="small-ib-12 medium-ib-12 offset-lg-ib-6 large-f-6">
      <h3>Vos informations</h3>

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Votre nom/pseudo :</label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="text" name="nomInter">
      </div>

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Votre email :</label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="email" name="emailInter">
      </div>

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Téléphone :</label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="number" name="telInter">
      </div>

      <div class="row whiteSpace">
        <label class="small-ib-12 medium-ib-4 large-ib-4">Mot de passe : </label>
        <input  class="small-ib-12 medium-ib-8 large-ib-8" type="password" name="mdpAnn">
      </div>

    </div>

    <button class="textcenter" type="submit">Valider</button>

  </form>

</article>


