﻿<article class="pagePrincip small-f-12 medium-f-12 large-f-12 whiteSpace">

	<div class="small-ib-12 medium-ib-4 large-ib-3">
		<h3>Gérer l'annonce</h3>
		<nav class="navbarBody">
			<ul class="sansDeco">
				<li><a href="#">Modifier</a></li>
				<li><a href="#">Supprimer</a></li>
				<li><a href="#">Autres</a></li>
			</ul>
		</nav>
	</div>

	<div class="blocImageA small-ib-12 medium-ib-8 large-ib-4 ">
		<img src="{{annonce.images[0].imageChemin}}"/>
	</div>

	<div class="blocCarac small-ib-12 medium-ib-12 large-ib-5">
		<h3>{{annonce.titre}}</h3>
		<br>
		<section>

			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Type d'annonce</h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{annonce.typeAnnonce.nomTypeAnn}} 
				</p>
			</div>

			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Type de bien </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{annonce.typeBien.nomTypeBien}}
				</p>
			</div>

			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Prix </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{annonce.prix}} €
				</p>
			</div>
			<hr>
			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Description </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textjustified">
					{{annonce.contenu}}
				</p>
			</div>

			<div class="row whiteSpace">
				<h5 class=" small-ib-4 medium-ib-4 large-ib-4">Loyer </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{annonce.loyer}} € / m²
				</p>
			</div>

			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Superficie </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{annonce.superficie}} m²
				</p>
			</div>

			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Nombre de pièce(s) </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{annonce.nbPiece}} pièce(s)
				</p>
			</div>

			<hr>

			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Ville </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{quartiers[annonce.quartier_id-1].ville.nomVille }}
				</p>
			</div>

			<div class="row whiteSpace">
				<h5 class="small-ib-4 medium-ib-4 large-ib-4">Quartier </h5>
				<p class="small-ib-8 medium-ib-8 large-ib-8 textcenter">
					{{annonce.quartier.nomQuartier}}
				</p>
			</div>

		</section>


	</div>

	<div class="blocContact small-ib-12 medium-ib-12 large-ib-12">
		<h3>Contact</h3>
		<p class="textcenter"><strong>Nom :</strong> {{annonce.internaute.nomInter}}</p>
		<p class="textcenter"><strong>Téléphone :</strong> {{annonce.internaute.telInter}}</p>
		<p class="textcenter"><strong>Email :</strong> {{annonce.internaute.emailInter}}</p>
	</div>
</article>