			<div class="row">
				<footer class=" small-f-12 medium-f-12 large-f-12 ">
					<p>
						lebonappart 2015 -- Created by GUILLAUME / CHAMPION 
					</p>
				</footer>
			</div>
		</div>
	</body>
</html>
