<article class="pagePrincip small-f-12 medium-f-12 large-f-12 whiteSpace">


<h2>Recherche</h2>

	<section class="small-f-12 medium-f-12 large-f-6 blockSearch">

		<form method="POST" action="resultRecher" class=" form clearfix">

			<input name="motCle" class="row small-f-12" type="search" size="50" placeholder="Recherche ...">


			<h4>Recherche avancées</h4>

			<!-- Type d'annonce -->
			<div class="small-ib-12 medium-ib-6 large-ib-6">

				<select name="typeAnn" size="1" class="small-ib-12 medium-ib-12 large-ib-12">
					<option value="0">Vente ou Location ?</option>

					{% for tA in typeAnn %}

					<option value="{{tA.id}}">{{tA.nomTypeAnn}}</option>

					{% endfor %}
				</select>

			</div>

			<!-- Type de bien  -->
			<div class="small-ib-12 medium-ib-6 large-ib-6">

				<select name="typeBien" size="1" class="small-ib-12 medium-ib-12 large-ib-12">
					<option value="0">Type de bien</option>

					{% for tB in typeB %}

					<option value="{{tB.id}}">{{tB.nomTypeBien}}</option>

					{% endfor %}
				</select>

			</div>


			<hr>

			<!-- Quartier  -->
			<div class="row small-ib-12 medium-ib-12 large-ib-12 whiteSpace">

				<label class="disappearSm medium-ib-4 large-ib-4">Quartier</label>

				<select name="quartier" size="1" class="small-ib-12 medium-ib-8 large-ib-8">
					<option value="0">Quartier</option>

					{% for q in quartier %}

					<option value="{{q.id}}">{{q.nomQuartier}}</option>

					{% endfor %}
				</select>

			</div>

			<hr>

			<!-- Prix  -->
			<div class="row small-ib-12 medium-ib-12 large-ib-12 whiteSpace ">
				<label class="disappearSm medium-ib-3 large-ib-3">Prix</label>

				<select  name="prix_min" size="1" class="small-ib-6 medium-ib-4 large-ib-4">
					<option value="-1">Prix min</option>
					<option value="0">0</option>
					<option value="15000">15000</option>
					<option value="25000">25000</option>
					<optoon value="50000">50000</option>
					<option value="75000">75000</option>
					<option value="100000">100000</option>
					<option value="150000">150000</option>
					<option value="250000">250000</option>
					<option value="300000">300000</option>
					<option value="400000">400000</option>
					<option value="500000">500000</option>
					<option value="750000">750000</option>
					<option value="1000000">1000000</option>
					<option value="2000000">2000000</option>
				</select>

				<select name="prix_max" size="1" class="small-ib-6 medium-ib-4 large-ib-4">
					<option value="-1">Prix max</option>
					<option value="0">0</option>
					<option value="15000">15000</option>
					<option value="25000">25000</option>
					<optoon value="50000">50000</option>
					<option value="75000">75000</option>
					<option value="100000">100000</option>
					<option value="150000">150000</option>
					<option value="250000">250000</option>
					<option value="300000">300000</option>
					<option value="400000">400000</option>
					<option value="500000">500000</option>
					<option value="750000">750000</option>
					<option value="1000000">1000000</option>
					<option value="2000000">2000000</option>
				</select>

			</div>

			<!-- Loyer  -->
			<div class="row small-ib-12 medium-ib-12 large-ib-12 whiteSpace ">
				<label class="disappearSm medium-ib-3 large-ib-3">Loyer</label>

				<select  name="loyer_min" size="1" class="small-ib-6 medium-ib-4 large-ib-4">
					<option value="-1">Loyer min</option>
					<option value="0">0</option>
					<option value="2">2</option>
					<option value="4">4</option>
					<optoon value="6">6</option>
					<option value="8">8</option>
					<option value="10">10</option>
					<option value="12">12</option>
					<option value="14">14</option>
					<option value="16">16</option>
				</select>

				<select name="loyer_max" size="1" class="small-ib-6 medium-ib-4 large-ib-4">
					<option value="-1">Loyer max</option>
					<option value="0">0</option>
					<option value="2">2</option>
					<option value="4">4</option>
					<optoon value="6">6</option>
					<option value="8">8</option>
					<option value="10">10</option>
					<option value="12">12</option>
					<option value="14">14</option>
					<option value="16">16</option>
				</select>

			</div>

			<!-- Superficie  -->
			<div class="row small-ib-12 medium-ib-12 large-ib-12 whiteSpace ">
				<label class="disappearSm medium-ib-3 large-ib-3">Superficie</label>

				<select  name="superf_min" size="1" class="small-ib-6 medium-ib-4 large-ib-4">
					<option value="-1">M² min</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="60">60</option>
					<option value="70">70</option>
					<option value="80">80</option>
					<option value="90">90</option>
					<option value="100">100</option>
					<option value="125">125</option>
					<option value="150">150</option>
					<option value="175">175</option>
					<option value="200">200</option>
					<option value="300">300</option>
					<option value="400">400</option>
				</select>

				<select name="superf_max" size="1" class="small-ib-6 medium-ib-4 large-ib-4">
					<option value="-1">M² max</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="60">60</option>
					<option value="70">70</option>
					<option value="80">80</option>
					<option value="90">90</option>
					<option value="100">100</option>
					<option value="125">125</option>
					<option value="150">150</option>
					<option value="175">175</option>
					<option value="200">200</option>
					<option value="300">300</option>
					<option value="400">400</option>
				</select>

			</div>


			<div class="row small-ib-12 medium-ib-12 large-ib-12 whiteSpace ">

				<label class="disappearSm medium-ib-4 large-ib-4">Nombre de pièces</label>

				<select name="nbPiece" size="1" class="small-ib-12 medium-ib-7 large-ib-7">
					<option value="0">Nombre de pièces</option>
					<option value="1">1</option>	
					<option value="2">2</option>	
					<option value="3">3</option>		
					<option value="4">4</option>	
					<option value="5">5</option>	
					<option value="6">6</option>	
					<option value="7">7</option>
					<option value="8">Plus de 8</option>	
				</select>

			</div>

			

			<button type="submit">Recherche</button>

		</form>

	</section>


	<section class="small-f-12 medium-f-12 large-f-6 whiteSpace">
			

	{% if annonces|length > 0 %}

		{% for annonce in annonces %}
			
			
			<div class="containerAnn large-ib-3 medium-ib-6 offset-sm-ib-1 small-ib-10">

				<a href="annonce{{annonce.id}}">
					
					<h5>{{annonce.titre|capitalize }}</h5>
					
					<div class="blocImage">
						<span><img src="{{annonce.images[0].imageChemin}}"/></span>
					</div>
				</a>
			</div>
			

		{% endfor %}

	{% else %}
	
		<div class="alert alertInfo">
			<h4>Information</h4>
			<p>Aucun résultat pour cette recherche</p>
		</div>

	{% endif %}

	</section>


</article>